<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
</head>
<nav>
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="resume" target="_blank">Resume</a></li>
    </ul>
</nav>
<body>
    <header>
        <div class="container">
            <h1>Welcome to My Portfolio</h1>
            <p>Showcasing My Work and Skills</p>
        </div>
    </header>
    {% if session.get('is_admin') %}
    <div class="admin-options">
        <button>Admin Option</button>
        <h1>Delete Project</h1>
        <form action="{{ url_for('delete_project') }}" method="POST">
            <label for="project_id">Enter Project ID to delete:</label>
            <input type="text" id="project_id" name="project_id" required>
            <button type="submit">Delete Project</button>
        </form> 
    </div>

    <h1>Add New Project</h1>
    
    <form action="{{ url_for('add_project') }}" method="POST" enctype="multipart/form-data">
        <label for="project_name">Project Name:</label>
        <input type="text" id="project_name" name="project_name" required><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br>

        <label for="image">Upload Image:</label>
        <input type="file" id="image" name="image" accept="image/*"><br>

        <label for="pdf">Upload PDF:</label>
        <input type="file" id="pdf" name="pdf" accept="application/pdf"><br>

        <label for="link">Link to Project (Optional):</label>
        <input type="text" id="link" name="link"><br>

        <button type="submit">Add Project</button>
    </form>
    
    {% endif %}
    <section class="home">
        <div class="about">
            <!-- Add Image -->
            <img src="static\AboutMePicture.jpg" alt="Profile Photo">
            <div class="about-description">
                <h1>About Me</h1>
                <p>Hello! I'm Deeksha, a versatile and adaptable Salesforce Developer and UX Designer with significant experience in designing, coding, and
                    implementing CRM systems. My strengths include a deep understanding of Salesforce methodologies, exceptional
                    problem-solving abilities, and proficiency in Apex Classes, Visualforce Pages, Triggers, and Front-end Development.
                    Proven track record of driving system enhancements that significantly boost operational efficiency.
                </p>
            </div>
        </div>
    </section>

    <section id="projects" class="projects-section">
        <div class="projects" class="projects-section">
            {% for project in projects %}
            <div class="project">
                <h2>{{ project.name }}</h2>
                <p><strong>Project ID:</strong> {{ project.id }}</p>
                {% if project.image %}
                <a href="{{project.link}}" target="_blank">
                    <img src="{{ url_for('project_files', filename=project.image.split('project_files/')[1]) }}" alt="{{ project.name }} image">
                </a>
                {% else %}
                <p>No image available</p>
                {% endif %}
                <p>{{ project.description }}</p>
                {% if project.pdf %}
                <a href="{{ url_for('project_files', filename=project.pdf.split('project_files/')[1]) }}">View PDF</a>
                {% else %}
                <p>No PDF available</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>

    </section>

    <section id="contact" class="contact-section">
        <div class="container">
            <h2>Contact Me</h2>
            <p>Email: <a href="mailto:deekshareddy.c@gmail.com">deekshareddy.c@gmail.com</a></p>
        </div>
    </section>


    <!--{% if session.get('is_admin') %}
        <form action="{{ url_for('delete_project') }}" method="POST">
            <label for="project_id">Enter Project ID to delete:</label>
            <input type="text" id="project_id" name="project_id" required>
            <button type="submit">Delete Project</button>
        </form>

        <h1>Delete Project</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        
        <form method="POST">
            <label for="project_id">Enter Project ID to Delete:</label>
            <input type="text" name="project_id" id="project_id" required>
            <button type="submit">Delete Project</button>
        </form>

    {% else %}
        <p>You do not have permission to delete projects.</p>
    {% endif %}-->

    <footer>
        <div class="container">
            <p>&copy; 2024 [Deeksha Reddy]</p>
        </div>
    </footer>
</body>
</html>

