<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
</head>
<nav>
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="resume" target="_blank">Resume</a></li>
    </ul>
</nav>
<body>
    <header>
        <div class="container">
            <h1>Welcome to My Portfolio</h1>
            <p>Showcasing My Work and Skills</p>
        </div>
    </header>

    <section class="home">
        <div class="about">
            <!-- Add Image -->
            <img src="static\AboutMePicture.jpg" alt="Profile Photo">
            <div class="about-description">
                <h1>About Me</h1>
                <p>Hello! I'm Deeksha, a versatile and adaptable Salesforce Developer and UX Designer with significant experience in designing, coding, and
                    implementing CRM systems. My strengths include a deep understanding of Salesforce methodologies, exceptional
                    problem-solving abilities, and proficiency in Apex Classes, Visualforce Pages, Triggers, and Front-end Development.
                    Proven track record of driving system enhancements that significantly boost operational efficiency.
                </p>
            </div>
        </div>
    </section>

    <section id="projects" class="projects-section">
        <div class="projects" class="projects-section">
            {% for project in projects %}
            <div class="project">
                <h2>{{ project.name }}</h2>
                {% if project.image %}
                <a href="{{project.link}}" target="_blank">
                    <img src="{{ url_for('project_files', filename=project.image.split('project_files/')[1]) }}" alt="{{ project.name }} image">
                </a>
                {% else %}
                <p>No image available</p>
                {% endif %}
                <p>{{ project.description }}</p>
                {% if project.pdf %}
                <a href="{{ url_for('project_files', filename=project.pdf.split('project_files/')[1]) }}">View PDF</a>
                {% else %}
                <p>No PDF available</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>

    </section>

    <section id="contact" class="contact-section">
        <div class="container">
            <h2>Contact Me</h2>
            <p>Email: <a href="mailto:deekshareddy.c@gmail.com">deekshareddy.c@gmail.com</a></p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 [Deeksha Reddy]</p>
        </div>
    </footer>
</body>
</html>

